   <!DOCTYPE html> 
   <html>
   <head>

    <title>PROFILE | ONLINE DELIVERY</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="description" content="online coop service nitk">
    <meta name="keywords" content="nitk online coop">

    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
    <link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/parallax.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   </head>
   <body class="grey lighten-5">


    <!-- header  -->
    <% include partials/adminheader.ejs %>
    <!-- ////header -->


   <!-- side nav menu -->
  <% include partials/admin_slide_out_nav.ejs %>
  <!-- ////side nav menu -->

     <main>

       <% if(messages.info){ %>
  <div class="card-panel blue lighten-4 black-text text-darken-4"><%= messages.info %></div>
  <% } %>


       <div class="bg-img">
         
         <div class="row profile container pad30">
          <div class="col s12 center margin" id="prof1"> 
            <div class="center"><img src="/assets/images/profile.png" class="responsive"></div>
            <div class="styleme">
      <span class="border">PROFILE</span>
    </div>
    <div class="center">
      <h4 class="grey-text text-lighten-1 profiledesk"><%= user.local.firstname %> <%= user.local.lastname %></h4>
      <h6 class="grey-text text-lighten-1">Email:<%= user.local.email %></h6>
      <h6 class="grey-text text-lighten-1">Phone: <%= user.local.telephone %></h6>
      <button class="btn chip waves-effect waves-light grey-text" style="background-color:Transparent;border:1px #eeeeee solid;" id="getedit">edit info
        <i class="material-icons right">send</i>
      </button>
    </div>

         </div>


         <div class="col s12 z-depth-2" style="display:none;border: 1px grey solid;padding:20px;background-color:Transparent;opacity: 0.8" id="prof2"> 
           <form action="/profile" method="post" class="grey-text text-lighten-1">
            <h3 class="white-text profiledesk">Edit Profile</h3>
              First Name
               <div class="input-field col s12">
                 <input type="text" name="firstname" class="validate center" required value="<%= user.local.firstname %>">
               </div><br>
               Last Name
               <div class="input-field col s12">
                 <input type="text" name="lastname" class="validate center" required value="<%= user.local.lastname %>">
               </div><br>
              Default Address
              <div class="input-field col s12">
                <input name="address" type="text" class="validate center" required value="<%= user.local.address %>"> 
              </div><br>
              
           <button class="btn waves-effect waves-light cyan darken-3" type="submit">edit info
            <i class="material-icons right">send</i>
          </button>
        </form>
        <br>
        <button class="btn chip waves-effect waves-light grey-text" style="background-color:Transparent;border:1px #eeeeee solid;" id="getprofile">Cancel
      </button>
      </div>
    </div>
  </div>

    <style>
    td, th {
    padding: 5px 5px;
}
  </style>
      

    </div>


    </main>

    <!-- footer -->
    <% include partials/footer.ejs %>
    <!-- ////footer -->


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
    <script src="/assets/js/jquery.flexslider.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript">
    if ( $(window).width() < 993){
    document.getElementById("fav").style.display="none";}

  </script>
  <script>
    $("button#getedit").click(function(){
    document.getElementById("prof1").style.display="none";
     document.getElementById("prof2").style.display="block";
});
     $("button#getprofile").click(function(){
    document.getElementById("prof2").style.display="none";
     document.getElementById("prof1").style.display="block";
});
  </script>

  </body>
  </html>