   <!DOCTYPE html> 
   <html>
   <head>

    <title>CHOCOLATES | NITK ONLINE DELIVERY</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="description" content="online coop service nitk">
    <meta name="keywords" content="nitk online coop">

    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
    <link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/buypages.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  </head>

  <body id="back">

    <!-- header  -->
    <% include partials/buyheader.ejs %>
    <!-- ////header -->

    <!-- header -->

    <header>
      <div class="navbar bg">
        <div class="z-depth-4 div1 top-nav nav-wrapper bg">
          <div class="row">
            <div class="col m8 s12" style="color:#E0F7FA ;">
              <h4 class="thicker space">CHIPS</h4>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- ////header -->

    <!-- side nav menu -->


    <ul id="nav-mobile" class="side-nav fixed">
      <li class="white">
       <div class="userView">
         <div class="background">
           <img src="/assets/images/nitklogo.jpg" width="100%" height="200px">
         </div>
       </div>
     </li>
     <li class="teal lighten-3"><a href="/home" class="waves-effect waves-teal">HOME</a></li>
     <li class="teal lighten-3"><a href="/categories" class="waves-effect waves-teal">CATEGORIES</a></li>
     <li class="teal lighten-4"><a href="/todo" class="waves-effect waves-teal">MY CART<i class="material-icons medium right">shopping_cart</i></a></li>
     <li class="space"><pre>S H O P H E R E<i class="material-icons grey-text text-darken-3">shopping_basket</i></pre></li>
     <li class="no-padding teal lighten-3">
      <ul class="collapsible collapsible-accordion teal lighten-3">
        <li class="space teal lighten-3" style="padding-top:10px;"><a class="collapsible-header active waves-effect waves">Eatables</a>
          <ul class="collapsible-body">
            <li><a href="/eat-chips">Chips</a></li>
            <li class="cyan lighten-5"><a href="/eat-chocolates" class="active">Chocolates</a></li>
            <li><a href="snack.html">Daily Snacks</a></li>
            <li><a href="bisc.html">Biscuits</a></li>
            <li><a href="ration.html">Ration</a></li>
            <li><a href="pack.html">Packed Stuff</a></li>
            <li><a href="other.html">others</a></li>
          </ul>
        </li>
        <br>
        <li class="space" style="padding-top:10px;"><a class="collapsible-header waves-effect waves-teal">Stationary</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="chip.html">Noting stuff</a></li>
              <li><a href="tc.html">Pencil Pen</a></li>
              <li><a href="snack.html">Other items </a></li>
            </ul>
          </div>
        </li>
        <br>
        <li class="space" style="padding-top:10px;"><a class="collapsible-header waves-effect waves-teal">Domestic Items</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="chip.html">Cleaning</a></li>
              <li><a href="tc.html">Sanitary</a></li>
              <li><a href="tc.html">Storage</a></li>
              <li><a href="tc.html">Bathroom</a></li>
              <li><a href="tc.html">Utensils</a></li>
              <li><a href="snack.html">Other items</a></li>
            </ul>
          </div>
        </li>
        <br>
        <li class="space" style="padding-top:10px;"><a class="collapsible-header waves-effect waves-teal">Body Products</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="chip.html">Faceitems</a></li>
              <li><a href="tc.html">Creams Lotions</a></li>
              <li><a href="snack.html">Hairitems</a></li>
              <li><a href="snack.html">Oils </a></li>
              <li><a href="snack.html">Body washs' </a></li>
              <li><a href="snack.html">Perfumes  talc </a></li>
              <li><a href="snack.html">Oils </a></li>
              <li><a href="snack.html">accessories others </a></li>     
            </ul>
          </div>
        </li>
        <li class="space thicker" style="padding-top:10px;"><a class="collapsible-header waves-effect waves-teal" href="/logout">LOGOUT</a></li>
      </ul>
    </ul>


    <!-- ////side nav menu -->

    <main>

      <!-- center image -->
      <div class="div3"><img src="/assets/images/back.jpg" id="backimg" width="100%" style="display: none"></div>
      <!-- ///center image -->


      <br><br>

      <% if(messages.info){ %>
        <div class="card-panel blue lighten-4 black-text text-darken-4 acme" id="msg"><%= messages.info %><br><br>
          <center><button class="btn waves-effect waves-teal center" onclick="fademe()">OK</button></center>
        </div>
      <% } %>


      <div class="row container">
        <%chocolates.forEach(chip => {%>

        <div class="col m4" id="items">
          <div class="card-panel" id="me">
            <center><img class="responsive-img" src="<%= chip.email %>"></center>
            <div class="card-content" id="she">
              <div class="divider"></div>
              <div class="chip margin10">item info</div>
              <span class="item_name"><%= chip.name %></span><br>
              <div class="chip margin10">quantity left</div>
              <span class="quantity_left orange-text"><%= chip.quantity_left %></span><br>
              <div class="chip margin10">Price</div>
              <span class="item_price orange-text"><%= chip.price %></span><br>
              <span class="item_no white-text"><%= chip.index %></span>
              <a class="chip right waves-effect waves-light teal accent-4" id="clicktoadd">Add to cart</a>
              <br>
            </div>
          </div>
        </div>

        <% });%>
      </div>

    
    </main>

    <!-- footer -->
    <% include partials/footer.ejs %>
    <!-- ////footer -->


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
    <script src="/assets/js/jquery.flexslider.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/assets/js/todo-list.js"></script>
    

  </body>
  </html>