<!DOCTYPE html> 
<html>
<head>

	<title>NITK COOPERATIVE SOCIETY | NITK ONLINE DELIVERY</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<meta name="description" content="online coop service nitk">
	<meta name="keywords" content="nitk online coop">

	<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body id="back">

	<!-- header  -->
	<% include partials/adminheader.ejs %>
	<!-- ////header -->

	<!-- side nav menu -->
	<ul id="slide-out" class="side-nav">
		<li class="white">
			<div class="userView">
				<div class="background">
					<img src="/assets/images/nitklogo.jpg" width="100%">
				</div>
				<a href="https://www.nitk.ac.in" class="center">Nitk Surathkal</a>
			</div>
		</li>
		<li><a href="#!" class="waves-effect space">HOME</a></li>
		<li><div class="divider"></div></li>
		<li><a href="/categories" class="waves-effect space">SHOP NOW</a></li>
		<li><a href="#services" class="waves-effect space">SERVICES</a></li>
		<li><a href="/contacts" class="waves-effect space">CONTACT</a></li>
		<li><div class="divider"></div></li>
		<li><a class="waves-effect space" href="/logout">LOGOUT</a></li>
		<li><a class="waves-effect space" href="/help">HELP</a></li>
	</ul>
	<!-- ////side nav menu -->



	<!-- center image -->
	<div class="div3"><img src="/assets/images/back1(2).jpg" id="backimg" width="100%" style="display:none;"></div>
	<!-- ////center image -->


	<% if(messages.info){ %>
	<div class="card-panel blue lighten-4 black-text text-darken-4"><%= messages.info %></div>
	<% } %>


	<!-- card 01 -->
	<main>
     <div class="row pad30 margin70 z-depth-4 profile"> 
        <h4 class="thicker">Eatables Item List</h4>
          <table class="striped highlight responsive-table">
            <thead>
            <tr>
              <th>Item No.</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity Left</th>
              <th>category</th>
              <th>
            </tr>
          </thead>

          <%eatables.forEach(item => {%>
            <tr>
              <td><%= item.item_no %></td>
              <td><%= item.item_name %></td>
              <td>Rs.<%= item.item_price %></td>
              <td><%= item.item_quantity %></td>
              <td><%= item.item_category %></td>
            </tr>
          <% });%>
        </table>
        <br>
      </div>
	</main>



	<!-- footer -->
	<% include partials/footer.ejs %>
	<!-- ////footer -->

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="/assets/js/jquery.flexslider.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>

</body>
</html>